@model HLGranite.Mvc.Models.Nisan
<script>
    function setStatus(status) {
        $("#StatusId option").each(function () {
            console.log($(this).html());
            if ($(this).html() == status) {
                $(this).attr("selected", true);
                return;
            }
        });
    }
</script>

<p>
    @{
        var statuses = new HLGranite.Mvc.Models.hlgraniteEntities().Statuses.Where(s => s.StockTypeId == HLGranite.Mvc.Controllers.StockController.NISAN_TYPE_ID);
        int i = 0;
        foreach(var status in statuses)
        {
            if(Model.StatusId == 0 && i == 2)
            {
                break;
            }
            
            if(status.Id > Model.StatusId)
            {
                <input id="@status.Name" type="submit" value="@status.Name" onclick="setStatus('@status.Name');" />
            }
            i++;
        }
    }
</p>
