@model IEnumerable<HLGranite.Mvc.Models.Nisan>

@{
    ViewBag.Title = "Chart";

    HLGranite.Mvc.Models.hlgraniteEntities db = new HLGranite.Mvc.Models.hlgraniteEntities();
    HLGranite.Mvc.Models.User user = db.Users.Where(u => u.UserName.Equals(User.Identity.Name)).FirstOrDefault();
    bool isCustomer = true; // default is true
    if (user != null)
    {
        isCustomer = user.IsCustomer;
    }

    int i = 0; // numbering
}

@functions{
    public string ToDateString(HLGranite.Mvc.Models.Nisan nisan)
    {
        string displayText = string.Empty;
        if(nisan.Death.HasValue)
        {
            displayText += nisan.Death.Value.ToString("dd-MM-yyyy");
        }
        if(nisan.Deathm.HasValue)
        {
            if(displayText.Length>0)
            {
                displayText += " = ";
            }
            displayText += nisan.Deathm.Value.ToString("dd-MM-yyyy");
        }

        return displayText;
    }
}

<h2>Chart</h2>

@{
    var myChart = new Chart(width: 600, height: 400)
        .AddTitle("Chart Title")
        .AddSeries(
            name: "Employee",
            xValue: new[] {"Peter", "Andrew", "Julie", "Mary", "Dave"},
            yValues: new[] {"2", "6", "4", "5", "3"}
        ).Write();
}
