@{
    ViewBag.Title = "Rss Listing";
    string host = Request.Url.Authority;// Url.Content("~/");
}

<style>
    ul { list-style-type: none;}
</style>

<h2>All RSS</h2>

<ul>
    <li>
        Nisan Updates - @Html.ActionLink("http://"+@host+"/Nisan/Rss", "Rss", "Nisan")<a href="~/Nisan/Rss" title="Subscribe to the updates"><img src="~/Images/rss.gif" /></a>
    </li>
</ul>
