@{
    ViewBag.Title = "Rss Listing";
    string host = Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host; // Request.Url.Authority;
}

<style>
    ul { list-style-type: none;}
</style>

<h2>All RSS</h2>

<ul>
    <li>
        Nisan Updates - @Html.ActionLink(@host+"/Nisan/Rss", "Rss", "Nisan")<a href="~/Nisan/Rss" title="Subscribe to the updates"><img src="~/Images/rss.gif" /></a>
    </li>
</ul>
